@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing: 265ms;
$iconColor: #00b5f5;
$accent: #856b0b;
$bluefade: #856b0b;
$gradient: #856b0b;

@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

.social-container {
  //   width: 400px;
  //   margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

  li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
  }

  i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all $timing ease-out;
  }

  a {
    display: inline-block;

    &:before {
      @include transformScale();
      content: " ";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, $iconColor, $accent);
      transition: all $timing ease-out;
    }

    &:hover:before {
      transform: scale(0);
      transition: all $timing ease-in;
    }

    &:hover i {
      @include transformScale(2.2);
      color: $iconColor;
      background: -webkit-linear-gradient(45deg, $iconColor, $accent);
      // -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all $timing ease-in;
    }
  }
}

.hire a {
  display: inline-block;
  padding: 15px 30px;
  margin: 20px 0;
  transform: scale(1);
  text-align: center;
  text-decoration: none;
  color: gray;
  background-color: black;
  font-size: 25px;

  transition: 0.5s;
  overflow: hidden;
}

.hire a:hover {
  color: white;
  background-color: #856b0b;
  text-decoration: none;
  font-size: 30px;

  /*box-shadow: 0 0 5px #856b0b,
                  0 0 25px #856b0b,
                  0 0 50px #856b0b,
                  0 0 200px #856b0b;*/
}

.hire a span {
  position: absolute;
  display: block;
}

.hire a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 0 5px #856b0b;
  background: linear-gradient(90deg, transparent, #856b0b);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.hire a span:nth-child(2) {
  top: 100%;
  right: 0;
  width: 2px;
  height: 100%;
  box-shadow: 0 0 5px #856b0b;
  background: linear-gradient(180deg, transparent, #856b0b);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.hire a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  box-shadow: 0 0 5px #856b0b;
  background: linear-gradient(270deg, transparent, #856b0b);
  animation: animate3 1s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.hire a span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  box-shadow: 0 0 5px #856b0b;
  background: linear-gradient(360deg, transparent, #856b0b);
  animation: animate4 1s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
