.figure {
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.figure:hover .img {
  transform: scale(1.25);
}
.figure:hover .figcaption {
  bottom: 100px;
}

.figure .figcaption {
  pointer-events: none;
}

.figure .h1 {
  margin: 0;
  padding: 0;
  font-family: "Staatliches", cursive;
  font-weight: lighter;
  color: white;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1;
  z-index: 100 !important ;
}

@media only screen and (max-width: 800px) {
  .figure .h1 {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 500px) {
  .figure .figcaption .p {
    font-size: 4.5vw !important;
  }
}

.figure .img {
  height: auto;
  transition: 0.25s;
  width: 100%;
}

.figure .figcaption {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.7s;
}
.figure .figcaption .h3 {
  margin: 0 0 20px;
  padding: 0;
}
.figure .figcaption .p {
  font-size: 19px;
  line-height: 1.75;
}

.figure .figcaption .button {
  cursor: pointer !important;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color: #1abc9c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  pointer-events: all;
}

.figure .figcaption .disabledbutton {
  cursor: pointer !important;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  opacity: 0.2;
}
.figure .figcaption a {
  text-decoration: none;
}
