#divs {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 45px;
}

.firstword {
  /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
  /* animation: showup 7s infinite; */
  animation-name: showup;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  color: #856b0b;
}

.division {
  width: 0px;
  /* animation: reveal 7s infinite; */
  animation-name: reveal;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.division span {
  margin-left: -700px;
  /* animation: slidein 7s infinite; */
  animation-name: slidein;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.sentence {
  color: white;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 700px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 700px;
  }
}

/* @media only screen and (max-width: 600px) {
  .aboutmecontent {
    display: none;
  }
} */

@media only screen and (max-width: 600px) {
  .css-typing p {
    font-size: 3.8vw !important;
  }
}

.css-typing p {
  color: #856b0b;
  border-right: 0.15em solid orange;
  font-family: "Courier";
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 60em;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  /* blink 0.5s step-end infinite alternate; */
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  /* blink 0.5s step-end infinite alternate; */
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  /* blink 0.5s step-end infinite alternate; */
  animation: type2 s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(6) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type2 3s steps(40, end);
  /* blink 0.5s step-end infinite alternate; */
  animation: type2 3s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(7) {
  width: 60em;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end);
  /* blink 0.5s step-end infinite alternate; */
  animation: type3 3s steps(40, end);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #856b0b;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #856b0b;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #856b0b;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #856b0b;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
